body {
    font-family: Arial;
    margin: 30px;
    background-color: rgb(240, 240, 240);
    /* color: white; */
  }
  .title{
    /* color: rgb(245, 241, 241); */
  }
  
  .todo-grid,
  .todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 50px;
    row-gap: 15px;
    align-items: center;
  }
  
  .todo-input-grid {
    margin-bottom: 20px;
    align-items: stretch;
  }
  
  .name-input,
  .date-input {
    font-size: 15px;
    padding: 6px;

  }
  
  .add-todo-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  
  .delete-todo-button {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
  }